@font-face {
  font-family: "Gus";
  src: local("Gus"), url("./assets/Archer Book.otf");
}

@font-face {
  font-family: "Gus2";
  src: local("Gus2"), url("./assets/Broadcast_Matter.otf");
}

body {
  background-color: #fff8ed;
  display: flex;
  font-family: "Gus";
  justify-content: center;
}

h1 {
  color: #7f340f;
  font-family: "Gus2";
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-size: 250%;
}

div.containerInicio {
  display: flex;
  justify-content: center;
}

div.todas,
div.casa,
div.tesis,
div.juntos,
div.salud,
div.alumnos,
div.padres {
  background-color: #fff0d4;
  height: 120px;
  width: 33%;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff8e24;
  font-family: "Gus";
  flex-direction: column;
  color: #451805;
  box-shadow: 0 0 5px #ff8e24;
}

div.escuela,
div.familia,
div.personal,
div.diversion {
  background-color: #fff0d4;
  height: 120px;
  width: 33%;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff8e24;
  font-family: "Gus";
  flex-direction: column;
  color: #451805;
  box-shadow: 0 0 5px #ff8e24;
}

.icono {
  text-align: center;
}

button {
  /* width: 100%; */
  background-color: #ff8e24;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ff8e24;
  font-size: medium;
  color: #ffffff;
  /* width: 77%; */
}

.lista-tareas ul {
  list-style: none;
  padding: 0;
}

.lista-tareas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Ajusta el espacio entre elementos de la lista */
}

.lista-tareas label {
  flex-basis: 50%; /* Ajusta este valor según necesites */
}

.lista-tareas input,
.lista-tareas select,
.lista-tareas textarea {
  flex-basis: 50%; /* Ajusta este valor según necesites */
}

.lista-tareas {
  width: 77%;
  justify-content: center;
  align-items: center;
}

td {
  white-space: nowrap;
  text-align: center;
  padding: 8px;  
}

/* td::after{
  content: ".";
} */


.tituloTarea {
  text-align: left;
  max-width: 200px; /* Ancho máximo de la columna Nombre */
  overflow: hidden;
  text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) si el texto no cabe */
  white-space: wrap;
}


.activo{
  text-align: left;
  max-width: 200px; /* Ancho máximo de la columna Nombre */
  overflow: hidden;
  text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) si el texto no cabe */
  white-space: wrap;
  /* font-weight: bold; */
  font-style: italic;
  /* background-color: #ffdddd; */
  border-radius: 8px;
  border: 0.5px solid #ff8e24;
  box-shadow: 0 0 5px #ff8e24;
}

button.registrar {
  background-color: #ffffff;
  color: #c74d07;
  margin-top: 10px;
  width: 77%;
}

button.registrar2 {
  background-color: #c74d07;
  color: #ffffff;
  margin-top: 10px;
  width: 77%;
}

button.aInicio {
  background-color: #ff8e24;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 77%;
}

.arrow {
  color: #274001;
  font-weight: bolder;
}

.equis {
  color: #8d5abf;
  font-weight: bolder;
}

.categoria {
  text-transform: capitalize;
  text-align: left;
}

th {
  background-color: #ff8e24;
  border-radius: 3px;
  /* border: 1px solid #ffdda8; */
  padding: 5px;
  color: #ffffff;
  font-weight: normal;
}

legend {
  font-weight: bold;
  /* background-color: #ffffff; */
  /* border-radius: 4px;
  color: #000000;
  border: 2px solid #767676; */
  padding: 4px;
}

img {
  padding: 5px;
  width: 18px;
}

.iconito {
  width: 40px;
}
.vacio {
  background-color: #dededd00;
  border: none;
}

.uper {
  text-transform: capitalize;
}

fieldset {
  background-color: #ffffff;
  /* background-color:#CFD8D7; */
  width: 70%;
  margin-top: 10px;
  border: 1px solid #ff8e24;
  border-radius: 5px;
}

#completa1,
.completa1 {
  text-decoration: line-through;
}

.completada {
  color: #9e3d0e;
  font-weight: bolder;
}

h2 {
  text-align: center;
}

.textoArea {
  resize: none; /* Evita que se pueda redimensionar manualmente */
  overflow: hidden; /* Oculta el desbordamiento */
  height: auto; /* Ajusta automáticamente la altura */
  width: 100%; /* Expande al 100% del ancho disponible */
}

.contenedorx {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 350px;
}

.contenedorcomplejo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
.nuevaTarea {
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.textareacompleja {
  width: 97%;
}

.tituloInicio {
  padding-left: 3px;
  padding-right: 3px;
}

table {
  border: 1px solid #D4D4D8;
  border-radius: 10px;
  background-color: #ffffff;
  width: 94%;
  padding: 8px;
  color: #393939;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-spacing: 5px 9px;
}



.botonesPar {
  display: flex;
  width: 100%;
  margin-top: 9px;
}

.iz1,
.iz2 {
  padding: 2px;
  margin: 5px;
  height: 50px;
  width: 77%;
}

.der1,
.der2 {
  padding: 2px;
  margin: 5px;
  height: 50px;
  width: 77%;
}

.iz1 {
  background-color: #f06706;
  color: rgb(255, 255, 255);
}

.iz2 {
  background-color: #9e3d0e;
}

.der1 {
  background-color: #000000;
}

.der2 {
  background-color: #ff8e24;
}

.containerCalendar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.circulo-rojo {
  width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  background-color: red; /* Color del círculo */
  border-radius: 50%; /* Para que sea un círculo */
  position: fixed; /* Para fijar el círculo */
  top: 20px; /* Ajusta la distancia desde arriba */
  right: 20px; /* Ajusta la distancia desde la derecha */
  z-index: 9999; /* Para que esté por encima de otros elementos */
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1; /* Visible */
  }
  50% {
    opacity: 0; /* Invisible */
  }
  100% {
    opacity: 1; /* Visible */
  }
}

.circuloCounter {
  width: 23px; /* Ancho del círculo */
  height: 21px; /* Altura del círculo */
  background-color: #9e3d0e; /* Color del círculo */
  border-radius: 50%; /* Para fijar el círculo */
  z-index: 9999; /* Para que esté por encima de otros elementos */
  animation: blink-a nimation2 10s infinite;
  text-align: center;
  padding-top: 4px;
  align-self: flex-end;
  margin-right: -5px;
  margin-top: -25px;
  color: #451805;
  animation: blink-animation2 2s infinite;
  font-weight: bold;
  border: 1px solid #ff8e24;
}

@keyframes blink-animation2 {
  0% {
    opacity: 1;
    background-color: #ffffff; /* Visible */
  }
  50% {
    opacity: 0.9;
    background-color: #fff8ed; /* Invisible */
  }
  100% {
    opacity: 1;
    background-color: #ffffff; /* Visible */
  }
}

.rbc-event-content {
  font-size: xx-small;
}

.custom-sunday-cell {
  background-color: #ffc570;
  color: white !important;
}
.custom-saturday-cell {
  background-color: #ffdda8;
}

.calendarioLink {
  margin-top: 10px;
  width: 77%;
  background-color: #9e3d0e;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: #9e3d0e !important;
  color: white !important;
  border-color: #c74d07 !important;
}
.rbc-toolbar button {
  background-color: #ffffff !important;
  border-color: #c74d07 !important;
  color: #ff8e24 !important;
}

.rbc-month-view {
  border: 1px solid #c74d07 !important;
  background-color: #ffffff !important;
  border-radius: 8px !important;
}

.rbc-day-bg + .rbc-day-bg,
.rbc-month-row + .rbc-month-row,
.rbc-header + .rbc-header,
.rbc-header {
  border-color: #c74d07 !important;
  /* color: white !important; */
  
}
.rbc-header {
  background-color: #ff8e24 !important;
  color: white;
  font-weight: normal !important;
}

.react-datepicker-popper {
  position: relative;
  left: 10px;
  right: -39px;
  top: 0px !important;
}

.centrado {
  text-align: center;
}

.gusPersonal {
  background-color: #9e3d0e;
  width: 77%;
  margin-top: 10px;
}

.circulo-hoy {
  width: 23px; /* Ancho del círculo */
  height: 21px; /* Altura del círculo */
  background-color: #9e3d0e; /* Color del círculo */
  border-radius: 50%; /* Para fijar el círculo */
  z-index: 9999; /* Para que esté por encima de otros elementos */
  text-align: center;
  padding-top: 4px;
  color: white;
  font-weight: bolder;
  border: 1px solid #ffffff;
}

.circulo-alta {
  width: 10px; /* Ancho del círculo */
  height: 10px; /* Altura del círculo */
  background-color: #451805; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el círculo tenga esquinas redondeadas */
  display: inline-block; /* Hace que el span se comporte como un bloque en línea */
  text-align: center; /* Alinea el contenido del span al centro */
  line-height: 100px; /* Alinea verticalmente el contenido del span al centro */
  color: white; /* Color del texto dentro del círculo */
  font-size: 20px; /* Tamaño de la fuente del texto dentro del círculo */
}

.circulo-media {
  width: 10px; /* Ancho del círculo */
  height: 10px; /* Altura del círculo */
  background-color: #f06706; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el círculo tenga esquinas redondeadas */
  display: inline-block; /* Hace que el span se comporte como un bloque en línea */
  text-align: center; /* Alinea el contenido del span al centro */
  line-height: 100px; /* Alinea verticalmente el contenido del span al centro */
  color: white; /* Color del texto dentro del círculo */
  font-size: 20px; /* Tamaño de la fuente del texto dentro del círculo */
}

.circulo-baja {
  width: 10px; /* Ancho del círculo */
  height: 10px; /* Altura del círculo */
  background-color: #ffc570; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el círculo tenga esquinas redondeadas */
  display: inline-block; /* Hace que el span se comporte como un bloque en línea */
  text-align: center; /* Alinea el contenido del span al centro */
  line-height: 100px; /* Alinea verticalmente el contenido del span al centro */
  color: white; /* Color del texto dentro del círculo */
  font-size: 20px; /* Tamaño de la fuente del texto dentro del círculo */
}

.fechas-mayuscula{
  text-transform: capitalize;
}

.rbc-show-more{
  color: #ff2301 !important;
  background-color: rgba(255, 255, 255, 0) !important;
  font-size: 10px !important;
}

.rbc-today{
  background-color:#36e94f42 !important;
}






















/*#FAF2E7
/*#E1EDEB
/* Color Theme Swatches in Hex */
.Pastel-2-1-hex {
  color: #7cabb2;
}
.Pastel-2-2-hex {
  color: #ffd7e9;
}
.Pastel-2-3-hex {
  color: #cbf7ff;
}
.Pastel-2-4-hex {
  color: #cccbc4;
}
.Pastel-2-5-hex {
  color: #b2b2b2;
}

/* Color Theme Swatches in RGBA */
.Pastel-2-1-rgba {
  color: rgba(124, 170, 177, 1);
}
.Pastel-2-2-rgba {
  color: rgba(255, 214, 232, 1);
}
.Pastel-2-3-rgba {
  color: rgba(202, 246, 255, 1);
}
.Pastel-2-4-rgba {
  color: rgba(204, 202, 195, 1);
}
.Pastel-2-5-rgba {
  color: rgba(177, 177, 177, 1);
}

/* Color Theme Swatches in HSLA */
.Pastel-2-1-hsla {
  color: hsla(187, 25, 59, 1);
}
.Pastel-2-2-hsla {
  color: hsla(333, 100, 92, 1);
}
.Pastel-2-3-hsla {
  color: hsla(189, 100, 89, 1);
}
.Pastel-2-4-hsla {
  color: hsla(52, 7, 78, 1);
}
.Pastel-2-5-hsla {
  color: hsla(0, 0, 69, 1);
}

/* Color Theme Swatches in Hex */
.art-photography-of-abstract-fluid-art-painting-with-alcohol-ink,
-pastel-colors-1-hex {
  color: #f2bbef;
}
.art-photography-of-abstract-fluid-art-painting-with-alcohol-ink,
-pastel-colors-2-hex {
  color: #f2dcf2;
}
.art-photography-of-abstract-fluid-art-painting-with-alcohol-ink,
-pastel-colors-3-hex {
  color: #367fbf;
}
.art-photography-of-abstract-fluid-art-painting-with-alcohol-ink,
-pastel-colors-4-hex {
  color: #55b3d9;
}
.art-photography-of-abstract-fluid-art-painting-with-alcohol-ink,
-pastel-colors-5-hex {
  color: #f2d5c4;
}

/* Color Theme Swatches in RGBA */
.art-photography-of-abstract-fluid-art-painting-with-alcohol-ink,
-pastel-colors-1-rgba {
  color: rgba(242, 186, 238, 1);
}
.art-photography-of-abstract-fluid-art-painting-with-alcohol-ink,
-pastel-colors-2-rgba {
  color: rgba(241, 220, 242, 1);
}
.art-photography-of-abstract-fluid-art-painting-with-alcohol-ink,
-pastel-colors-3-rgba {
  color: rgba(53, 126, 191, 1);
}
.art-photography-of-abstract-fluid-art-painting-with-alcohol-ink,
-pastel-colors-4-rgba {
  color: rgba(84, 179, 216, 1);
}
.art-photography-of-abstract-fluid-art-painting-with-alcohol-ink,
-pastel-colors-5-rgba {
  color: rgba(242, 213, 196, 1);
}
